@media(max-width: 992px){
    .menu-none{
        display: none;
    }
}

@media(min-width: 992px) {
    
    .offcanvas-header.d-table.menu-phone {
        display: none !important;
    }
}

input[type="file"]::file-selector-button{
    display: none;
}

.border-right{
    border-right: 1px solid rgb(204, 204, 204);
    min-height: 90vh;
}

.bg-cinza{
    background-color: rgb(247, 247, 247);
}